<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{53,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,200}}</string>
                <key>sourceSize</key>
                <string>{53,200}</string>
            </dict>
            <key>baoxiang_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,311},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>baoxiang_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{100,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>gantanhao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,278},{18,20}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,70},{18,20}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,360},{42,44}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,275},{34,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{34,58}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,182},{22,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{22,80}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,283},{24,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{24,76}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,194},{26,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{26,74}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,174},{28,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{28,68}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,250},{26,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{26,68}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>gantanhao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,222},{26,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,68}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>guangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{51,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,120}}</string>
                <key>sourceSize</key>
                <string>{51,120}</string>
            </dict>
            <key>guangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,204},{37,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,200}}</string>
                <key>sourceSize</key>
                <string>{37,200}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,200}}</string>
                <key>sourceSize</key>
                <string>{72,200}</string>
            </dict>
            <key>jianbiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,406},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jianguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{79,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,150}}</string>
                <key>sourceSize</key>
                <string>{79,150}</string>
            </dict>
            <key>jinqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,314},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>jinsha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,233},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>jinsha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,410},{75,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,100}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>jygt.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,186},{157,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,6}}</string>
                <key>sourceSize</key>
                <string>{157,6}</string>
            </dict>
            <key>modian.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{170,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,151}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>niao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,124},{81,56}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{81,56}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,308},{97,50}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{97,50}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,199},{107,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{107,32}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,194},{79,58}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,309},{99,54}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,54}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,398},{105,34}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{105,34}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,311},{85,46}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,43},{85,46}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>niao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{77,62}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{77,62}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>word_zhaoyuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{182,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,74}}</string>
                <key>sourceSize</key>
                <string>{182,74}</string>
            </dict>
            <key>xiaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{66,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{66,104}</string>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,83},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>xinguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,83},{114,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{114,120}</string>
            </dict>
            <key>ziqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,314},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ziqiu_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,410},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiangmo_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05cf518cbb9895a73d3529b304b0cc37$</string>
            <key>textureFileName</key>
            <string>xiangmo_01.png</string>
        </dict>
    </dict>
</plist>
